/* -- Sticky Footer -- */
* {
    margin: 0;
    font-family: sans-serif;
}
html, body, #root, .wrapper {
    height: 100%;
}
.content {
    min-height: 100%;
    /* equal to footer height */
    margin-bottom: -64px;
}
.content:after {
    content: "";
    display: block;
}
.footer, .content:after {
    height: 64px;
}
/* -- Sticky Footer -- */

.header { }

.footer {
    background: #00bcd4;
}

.footer div.footer-data {
    padding-top: 17px;
    text-align: center;
}

.not-found-container {
    text-align: center;
    padding-top: 60px;
}

.not-found-info {
    margin-top: 20px;
}